@model IEnumerable<DreamToEarn.DbModel.User>

@using System.Security.Claims;
@using DreamToEarn.Helper;
@{
    var user = new AppUser(User as ClaimsPrincipal);

    if (Session["SiteSessions"] == null)
    {
        Response.Redirect("/Account/Login");
        Response.End();
    }
}

@{
    ViewBag.Title = "View All Users";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Team
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.FirstName @item.LastName
                            </td>
                            <td>
                                @item.UserName
                            </td>
                            <td>
                                @item.Email
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

