@using System.Security.Claims;
@using DreamToEarn.Helper;
@{
    var user = new AppUser(User as ClaimsPrincipal);

    if (Session["SiteSessions"] == null)
    {
        Response.Redirect("/Account/Login");
        Response.End();
    }
}
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<section>
    <div>
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Change Password
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="OldPassword">Old Password</label>
                        <input class="form-control py-4" id="OldPassword" type="password" placeholder="Enter old password" />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="Password">Password</label>
                        <input class="form-control py-4" id="Password" type="password" placeholder="Enter new password" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="ConfirmPassword">Confirm Password</label>
                        <input class="form-control py-4" id="ConfirmPassword" type="password" placeholder="Enter Confir, new password" />
                    </div>
                </div>
            </div>
            <div class="form-group mt-4 mb-0"><a class="btn btn-primary btn-block" href="#" onclick="return changePassword();" style="width:180px">Change Password</a></div>
        </div>
    </div>
    <div id="lblmsg"></div>
    <div id="snackbar"></div>
</section>

<script>
    function changePassword() {
            var oldPass = $('#OldPassword').val();
            var newPass = $('#Password').val();
            var confirmPass = $('#ConfirmPassword').val();

            if (oldPass == "") {
                ShowMessage("", "Please enter old password");
                return false;
            }
            if (newPass == "") {
                ShowMessage("", "Please enter your Password");
                return false;
            }
            if (confirmPass == "") {
                ShowMessage("", "Please enter confirm password");
                return false;
            }

            if (newPass != confirmPass) {
                ShowMessage("", "The Confirm Password doest not match. Please retype");
                return false;
            }
            var url = '@Url.Action("ChangePassword", "Account")';
            var modelObj = {
                newPassword: newPass,
                oldPassword: oldPass,
                userId: @user.UserId,
            };

             $.ajax({
                type: "POST",
                url: url,
                data: {
                    model: modelObj
                },
                success: function (result) {
                    if (result.IsSuccess) {
                         $("#lblmsg").removeClass("smail text-danger");
                        $("#lblmsg").addClass("small text-success");
                        document.getElementById('lblmsg').innerHTML = result.message;
                        ShowMessage('success', result.message);

                        window.location = "/Dashboard/Index";
                    }
                    else {
                        $("#lblmsg").removeClass("small text-success");
                        $("#lblmsg").addClass("smail text-danger");
                        document.getElementById('lblmsg').innerHTML = result.message;
                        ShowMessage('', result.message);
                    }
                },
                 error: function (jqXHR, status, err) {
                        $("#lblmsg").removeClass("small text-success");
                        $("#lblmsg").addClass("smail text-danger");
                        document.getElementById('lblmsg').innerHTML = "Can't able to change password, please try later";
                        ShowMessage('', "Can't able to change password, please try later");
                }
            });

        }

        function ShowMessage(type, message) {
             var x = document.getElementById("snackbar");
             x.className = "show";
             x.innerHTML = message;
              setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
</script>


