
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="Login" class="Login">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
        </div>
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container" id="logindiv">
                        <div class="row">
                            <div class="col-6 d-sm-none d-lg-block d-md-none img-responsive">
                                <img src="~/Images/pc.PNG" class="rounded" />
                            </div>
                            <div class="col-6 text-center m-auto">
                                <h1>
                                    Contacu Us:
                                </h1>
                                <div class="text-center">
                                    Nasir Khan <br />
                                    Phone: +92 300-111-9390 <br />
                                    Email: nasirkhane0066@gmail.com <br />
                                    <strong>
                                        Software Engineer
                                        360 Developers Islamabad
                                    </strong>
                                </div>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </main>
            </div>


        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="../js/scripts.js"></script>
        <link href="../css/styles.css" rel="stylesheet" />
    </div>
</section>